* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    background-color: #170240;
    color: #fff;
}


/* Navbar Section */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo .logo-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    cursor: pointer;
}

.logo .logo-text span {
    color: #04E6CF;
}


.nav-menu .menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
}

.nav-menu .menu li a{
    color: #170240;
    text-decoration: none;
    background-color: #04E6CF;
    padding: .5rem 2rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.nav-menu .menu li a:hover {
    box-shadow: 0px 0px 43px -3px rgba(255,255,255,0.75);
    -webkit-box-shadow: 3px -1px 43px -3px rgba(255,255,255,0.75);
    -moz-box-shadow: 3px -1px 43px -3px rgba(255,255,255,0.75);

    background-color: transparent;
    color: #04E6CF
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 2rem;
}

.hero__left > span {
    font-weight: 100;
    color: #04E6CF;
    font-size: 1rem;
}

.hero__title {
    font-size: 4rem;
    margin: 1rem 0;
}
.hero__title > span {
    color: #04E6CF;
}

.hero__para {
    line-height: 2rem;
    margin-bottom: 1rem;
}

.hero__social-icons {
    display: flex;
    gap: .5rem;
}

.hero__icon {
    background-color: transparent;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #00ffcd;
    font-size: 1.5rem;
    outline: none;
}

.hero__social-icons a{
    text-decoration: none;
    color: #04E6CF;
}

.hero__social-icons a:hover .hero__icon {
    background-color: #04E6CF;
    color: #170240;
}


.hero__right img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 0px 0px 28px 23px rgba(20,247,204,0.75);
-webkit-box-shadow: 10px -1px 28px 23px rgba(20,247,204,0.75)
-moz-box-shadow: 10px -1px 28px 23px rgba(20,247,204,0.75);
}












/* about Section */

.about-area {
    color: #fff;
}

.about-area {
    background-color: #210c49;
}

.about {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
}
.about__left-img {
    width: 30rem;
    /* clip-path: circle(); */
    box-shadow: 0px 0px 28px 23px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 10px -1px 28px 23px rgba(255, 255, 255, 0.75)
    -moz-box-shadow: 10px -1px 28px 23px rgba(20,247,204,0.75);
    
}


.about__right-title {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    border-bottom: 2px solid #04E6CF;
    padding-bottom: .5rem;
}

.about__right-subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about_right-para {
    margin-bottom: 1rem;
    line-height: 2rem;
}

/* Education section */
.education-area {
    background-color: #170240;
    padding: 2rem 0;
    color: #fff;
}

.education {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.education__box {
    background-color: #210c49;
    padding: 1rem 2rem;
}

.education__left {
    width: 50%;
}

.education__right {
    width: 50%;
}


.education__content--title {
    font-size: 2rem;
}

.education__box  > span {
    color: #04E6CF;
    margin: .5rem 0;
    display: inline-block;
}

.education__content--para {
    font-weight: 300;
    letter-spacing: .1rem;
}

.education__left--title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #04E6CF;
}



.education__right--title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #04E6CF;
}

/* Skill Section */
.skill-area {
    background-color: #210c49;
    padding: 5rem 0;
}

.skill__title {
    text-align: center;
    font-size: 3rem;
    color: #04E6CF;
    margin-bottom: 4rem;
    border-bottom: 2px solid #04E6CF;
    padding-bottom: .8rem;
}

.skill__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.skill__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.box__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: .3rem;
}

.skill__left--01 {
    width: 90%;
    height: 1rem;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.skill__left--01 .box-01 {
    width: 90%;
    height: 1rem;
    background-color: #04E6CF;
}

.skill__left--02 {
    width: 90%;
    height: 1rem;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill__left--02 .box-02 {
    width: 91%;
    height: 1rem;
    background-color: #04E6CF;
}

.skill__left--03 {
    width: 90%;
    height: 1rem;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill__left--03 .box-03 {
    width: 70%;
    height: 1rem;
    background-color: #04E6CF;
}

.skill__left--04 {
    width: 90%;
    height: 1rem;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill__left--04 .box-04 {
    width: 75%;
    height: 1rem;
    background-color: #04E6CF;
}



.skill__right {
    width: 50%;
}

.right__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.skill__right .right__single--box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #04E6CF;
    font-size: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #04E6CF;
    border-top: 20px solid #fff;
}



/* Protfolio section */
.protfolio-area {
    background-color: #170240;
    padding: 5rem 0;
}

.protfolio__title {
    color: #04E6CF;
    text-align: center;
    font-size: 3rem;
    padding-bottom: .8rem;
    border-bottom: 2px solid #04E6CF;
    margin-bottom: 5rem;
}

.protfolio-box {
    width: 33%;
    height: 250x;
}

.protfolio-box a img {
    width: 100%;
    height: 100%;
}

.protfolio__row--container {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}


/* Contact Section */

.contact-area {
    background-color: #210c49;
    padding: 5rem 0;
}

.Contact__title {
    text-align: center;
    font-size: 3rem;
    color: #04E6CF;
    padding-bottom: 1rem;
    border-bottom: 2px solid #04E6CF;
}

.contact__form {
    width: 70%;
    margin: 2rem auto;
}

.form {
    display: flex;
    flex-direction: column;
}
.form > input {
    margin-top: 1rem;
    height: 3rem;
    padding-left: .8rem;
    outline: none;
    border-radius: 20px;
    color: #04E6CF;
    font-size: 1rem;
}

.form > input:hover {
    background-color: transparent;
    border: 2px solid #04E6CF;
    outline: none;
}


.form  textarea {
    margin-top: 1rem;
    padding: .8rem;
    border-radius: 20px;
    color: #04E6CF;
    font-size: 1rem;
}

.form textarea:hover {
    background-color: transparent;
    border: 2px solid #04E6CF;
    outline: none;
}

.submit__btn {
    background-color: #04E6CF;
    color: #210c49 !important;
    font-size: 1.5rem !important;
    font-weight: 700;
}
.submit__btn:hover {
    color: #04E6CF !important;
}

.contact__add--phone--email {
    color: #04E6CF;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.contact__add--phone--email>* {
    flex: 1;
}

.contact__add--phone--email >* h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact__add--phone--email >* i {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Footer Section */

.footer-area {
    background-color: #170240;
    padding: 3rem 0;
}

.footer__text {
    color: #04E6CF;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.footer__icon a{
    color: #04E6CF;
}
.footer__icon i {
    margin-right: 2rem;
}

.footer__icon a:hover .hero__icon{
    background-color: #04E6CF;
    color: #170240;
}



/* Responsive Desigb */
@media screen and (max-width: 900px) {
    .nav-container {
        display: block;
    }
    .nav-area {
        padding-bottom: 1rem;
    }
    .logo {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        
    }
    .menu li {
        margin-bottom: 1rem;
    }
}